* {
    margin: 0;
    padding: 0;
}

.nav.default-nav svg {
    background-color: transparent;
}

.each-slide {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.each-slide span {
    padding: 20px;
    font-size: 18px;
    background: #efefef;
    text-align: center;
}

.each-slide img {
    display: hidden;
}

.lazy {
    object-fit: cover;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
}

.dot.active {
    background-color: #717171;
}

.img-container {
    text-align: center;
}

.thumbnail {
    width: 75%;
    height: auto;
    padding: 5px 10px;
}

.highlightInfo {
    line-height: 30px;
    margin: 10px 30px;
    padding: 15px 20px;
    text-align: left;
}

.highlightInfo p {
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
}

.label {
    width: 80px;
}

.MuiGrid-spacing-xs-1 {
    margin: -1px !important;
}

.eachGenre {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-wrap: wrap;
    background-color: #242424;
    padding: 0px 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.yt_trailer {
    width: 600px;
    height: 337.5px;
    object-fit: cover;
    margin: 0 auto;
}

.synopsis {
    padding: 15px 100px;
    text-align: justify;
}
    
.read-or-hide{
    color: yellow;
    cursor: pointer;
}

.directorCast{
    flex-grow: 1;
    padding: 10px 100px;
}

.title {
    text-align: left;
    padding: 5px 10px;
}

.people {
    display: flex;
    justify-content: flex-start;
}

.people p {
    margin: 0;
    padding: 5px;
}

@media screen and (max-width: 1024px) {
    .synopsis, .directorCast {
        padding: 15px 100px;
    }

    .highlightInfo {
        margin: 50px 30px;
    }

    .thumbnail {
        width: 55%;
        padding: 0;
        margin: 10px 30px;
    }
}

@media screen and (max-width: 768px) {
    .highlightInfo {
        margin: 50px 30px;
    }

    .thumbnail {
        width: 75%;
        margin: 10px;
    }
}

@media screen and (max-width: 540px) {
    .video {
        padding: 20px;
    }

    .yt_trailer {
        width: 500px;
        height: 281px;
    }
}

@media screen and (max-width: 450px) {
    .video {
        padding: 5px;
    }

    .yt_trailer {
        width: 375px;
        height: 210px;
    }

    .synopsis {
        padding: 10px 40px;
    }

    .highlightInfo {
        margin: 0;
        padding: 15px 30px;
    }

    .directorCast {
        padding: 20px;
    }

    .lazy {
        height: 168px;
    }

    .people {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .people p {
        font-size: 14px;
    }
}